 @model IEnumerable<WebApplicationsebas.Models.Conductor>
@{
    ViewData["Title"] = "Inicio | Conductores";
}

<div class="container">
    <h1 class="my-4 text-center text-uppercase" style="color: #2c3e50;">Índice de Conductores</h1>

    <div class="text-center mb-4">
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.NombreConductor)</th>
                <th>@Html.DisplayNameFor(model => model.AñoExpiraLicencia)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombreConductor)</td>
                    <td>@Html.DisplayFor(modelItem => item.AñoExpiraLicencia)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('.btn-danger').click(function () {
                return confirm('¿Estás seguro de que quieres eliminar este conductor?');
            });
        });
    </script>
}
